.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  // Mobile view

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;
    @include media(1089px){
        padding-left: 0;
    }

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }
  }
    h1{
        display: inline-block;
        margin-top: $centered-navigation-height/3;
        margin-left: 20px;
        font-size: 1.2em;
    }
}

.centered-navigation-wrapper{
    @include outer-container();
}
