@import 'variables'
body
    
.body
    background-color: #333
    .outer-wrapper
        background-color: #E7F1EC
        box-shadow: 0 15px 15px #fff
        +outer-container()

.content-wrapper
    min-height: 80vh
    margin-left: 5%
    margin-right: 5%
    h2
        padding-top: 20px
    form
        margin-bottom: 80px
    table
        width: 100%
        margin: 0
        tr:nth-child(even)
            background-color: #CCCCCC
        tr
            td,th
                padding-left: 5px
        +media(540px)
            width: 80%
            margin-right: auto
            margin-left: auto
        margin-bottom: 50px
        
.hidden
    display: none