@import 'variables'
.body
    background-color: $header-color
    background: -moz-linear-gradient(top, $header-color 0%, $body-color 11%, $body-color 100%)
    background: -webkit-linear-gradient(top, $header-color 0%,$body-color 11%,$body-color 100%)
    background: linear-gradient(to bottom, $header-color 0%,$body-color 11%,$body-color 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$header-color', endColorstr='$body-color',GradientType=0 )
.outer-wrapper
    +outer-container()

.content-wrapper
    margin-left: 5%
    margin-right: 5%
    h2
        padding-top: 20px